@font-face {
    font-family: "wapuro-mincho";
    src: url("/fonts/wapuro-mincho.otf") format("opentype");
    src: url("/fonts/wapuro-mincho.woff2") format("woff2");
  }

@font-face {
font-family: "C64_Pro_Mono-STYLE";
src: url("/fonts/C64_Pro_Mono-STYLE.otf") format("opentype");
src: url("/fonts/C64_Pro_Mono-STYLE.woff2") format("woff2");
}

:root {
    --color-light: rgb(165, 165, 255);
    --color-dark: rgb(66, 66, 232);
}

html {
    font-family: "wapuro-mincho";
    font-size: 12px;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 3% 0;
    background: var(--color-light);
}

body {
    margin: 0;
    padding: 0px 3px;
    height: 100%;
    background: var(--color-dark);
    color: var(--color-light);
}

a:hover {
    background: var(--color-light);
    color: var(--color-dark);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 1em 0;
    line-height: 1.2em;
}

.heading {
    margin-top: 1em;
}

.blink {
    animation: blink 1s step-end infinite;
 }

 @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
  }