@font-face {
    font-family: "wapuro-mincho";
    src: url("/fonts/wapuro-mincho.otf") format("opentype");
    src: url("/fonts/wapuro-mincho.woff2") format("woff2");
  }

@font-face {
    font-family: "C64_Pro_Mono-STYLE";
    src: url("/fonts/C64_Pro_Mono-STYLE.otf") format("opentype");
    src: url("/fonts/C64_Pro_Mono-STYLE.woff2") format("woff2");
}

@font-face {
    font-family: "HaranoAjiMincho-Regular";
    src: url("/fonts/HaranoAjiMincho-Regular.otf") format("opentype");
}


:root {
    /* --color-letter-light: rgb(168, 168, 255); */
    /* --color-light: rgb(165, 165, 255); */
    /* --color-dark: rgb(66, 66, 232); */

    --color-letter: rgb(12, 12, 12);
    --color-light: rgb(237, 241, 237);
    --color-dark: rgb(0, 0, 0);
}

html {
    font-family: "wapuro-mincho";
    /* font-family: "HaranoAjiMincho-Regular"; */
    /* font-family: monospace; */
    /* font-weight: lighter; */
    font-size: 15px;
    max-width: 60em;
    height: 100%;
    /* margin: 0 auto; */
    /* background: var(--color-dark); */
}
body {
    margin: 0;
    padding: 1em 8em;
    /* letter-spacing: 0.05em; */
    background: var(--color-light);
    color: var(--color-letter);
    /* border-right: 0.5px dashed var(--color-letter); */
    /* border-left: 0.5px dashed var(--color-letter); */
}

a:hover {
    background: var(--color-letter);
    color: var(--color-light);
}
a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 1em 0;
    line-height: 1.7em;
}

.heading {
    border-bottom: 0.5px dashed var(--color-letter);
    padding: 1em 0 0.1em 0;
    margin-top: 1em;
    margin-bottom: 2em;
}

@media (max-width: 430px) {
    html {
        font-size: 12px;
    }
    body {
        padding: 0 0.5em;
        border: none;
    }

    .heading {
        border-bottom: none;
    }
}