
body{
   /* overflow-y:hidden; */
}

main[class="art-h1-scroll"]{
   width:18600px;
   height:100%;
   display:flex;
   /* overflow-x:scroll; */
   padding:0% 0%;
   font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",Verdana,"Helvetica Neue",sans-serif;
 }
 
div[class="description"] {
   margin:100px 200px 100px 300px;
   padding:10px 0;
   width:600px;
   height:500px;
   border: #282828 1px solid; 
 } 
div[class="art-date"]{
   margin:0 0 0 20px;
   font-size: 15px;
   color:#666666;
}
h1[class="title"]{
   margin:80px 0 80px 0;
   text-align: center;
   font-size: 30px;
   color:#000000;
   font-weight:normal;
}
p[class="description1"]{
   text-align: center;
   margin-top:20px;
   color:#000000;
   font-size: 13px;
}
p[class="description2"]{
   text-align: center;
   margin-top:20px;
   color:#000000;
   font-size: 13px;
}
p[class="description3"]{
   text-align: center;
   margin:0px 0;
   color:#000000;
   font-size: 70px;
}


div[class="art-image"]{
   margin:80px 0px 0px 100px;
}
.art-h1-scroll img{
   width:400px;
   height:565px;
}

 
@media screen and (max-width: 480px) {
   body{
      /* overflow-y:hidden; */
      text-size-adjust: none;
   }
   
   main[class="art-h1-scroll"]{
      width:23600px;
      height:100%;
      display:flex;
      /* overflow-x:scroll; */
      padding:100px 0%;
      font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",Verdana,"Helvetica Neue",sans-serif;
    }
    
   div[class="description"] {
      margin:160px 200px 100px 300px;
      padding:20px 0;
      width:600px;
      height:600px;
      border: #282828 1px solid; 
    } 
   div[class="art-date"]{
      margin:0 0 0 20px;
      font-size: 15px;
      color:#666666;
   }
   h1[class="title"]{
      margin:110px 0 80px 0;
      text-align: center;
      font-size: 30px;
      color:#000000;
      font-weight:normal;
   }
   p[class="description1"]{
      text-align: center;
      margin-top:20px;
      color:#000000;
      font-size: 13px;
   }
   p[class="description2"]{
      text-align: center;
      margin-top:20px;
      color:#000000;
      font-size: 13px;
   }
   p[class="description3"]{
      text-align: center;
      margin:20px 0;
      color:#000000;
      font-size: 100px;
   }
   
   
   div[class="art-image"]{
      margin:100px 0px 0px 100px;
   }
   .art-h1-scroll img{
      width:550px;
      height:778px;
   }
 }