* {
    box-sizing: border-box;
 }

a {	
    text-decoration: none;
    color: #000000;
 }

 a[class="hover1"]:hover {
    background-color: rgb(234, 73, 52);
    color:#ffffff  
  }
  a[class="hover2"]:hover {
    background-color: rgb(0, 0, 0);
    color:#ffffff  
  }
  a[class="hover3"]:hover {
    background-color: rgb(20, 146, 243);
    color:#ffffff  
  }
  a[class="hover4"]:hover {
    background-color: rgb(20, 201, 0);
    color:#ffffff  
  }
  a[class="hover_nega"]:hover{
   filter: invert();
  }

ul {
    list-style: none;
 }

 .pc_area{
    display:block;
}
.phone_area{
    display:none;
}


 header {
    width: 100%;
    padding: 3% 23.5%;
    background-color: #fdfdfd;
    /* position: fixed; */
    top: 0;
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-width: 1px;
}

header h1 {
    margin: 0; padding: 0;
    font-size: 20px;
    font-weight: normal;
 }

 header ul {
    margin: 0;
    display: flex;
 }

 header li {
    margin: 0 0 0 40px;
    font-size: 13px;
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
 }

 header nav {
    margin: 0 0 0 auto;
 }
 
 body {
    margin: 0;
    padding: 0px;
    height: 100%;
    background-color: #fdfdfd;
    /* 欧文フォント　Verdana,"Helvetica Neue", */
    font-family:serif,"游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝";
 }

 div[class="captions"]{
    padding: 2% 21%;
    height:700px;
    background-color: #fdfdfd;
 }

 .caption ul {
    padding-bottom: 10%;
    margin: 0;
 }

 .caption span{
    padding-left:2px;
    color:#818181;
    font-size: 12px;
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
 }

.caption li {
    padding: 5% 0 10% 0;
    font-size: 20px;
 }

 div[class="profile"]{
     padding:5% 23%;
 }


 main[class="tanka"]{
     padding:0% 0%;
 }
 .date{
    padding-left:23.4%;
    padding-top:20px;
    color:#818181;
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
 }
 .tanka h1{
    margin: 150px 0 180px 0; 
    padding: 0 0;
    font-size: 17px;
    color:#4b4b4b;
    text-align: center;
    font-weight:normal;
 }
 .tanka p{
    padding-left:30%;
    margin-bottom:250px;
    font-size: 18px;
 }

/* main[class="art_item"]{
   padding:0 0;
} */
 .wrap {
   width:45%;
   margin:0 auto;
   margin-top:40px;
   display: flex;
   flex-wrap: wrap;
   gap: 0px;
   font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
 }
 .item {
   padding: 0 30px;
   padding-bottom:30px;
   /* width:calc((100% - 0px * 2) / 3); */
   background-color: #fff;
   text-align:center;
 }
 .item_image{
    width:220px;
    height:311px;
 }
 .wrap h1{
   margin:0;
   font-size: 12px; 
   color:#616161;
   font-weight:normal;
 }


 main[class="art"]{
    padding:0% 0%;
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
 }
 div[class="description"] {
   width:400px;
   margin:200px auto;
   padding:50px 0;
   text-align: center;
   /* border: #282828 1px solid;  */
 } 
 .art h1{
   font-size: 17px;
   color:#2b2b2b;
   font-weight:normal;
}
p[class="description"]{
   margin-top:40px;
   color:#7c7c7c;
   font-size: 13px;
}
.art_image {
   text-align: center;
   margin-bottom:100px;
}
.art_image:last-child{
   margin-bottom:100px;
}
.A4{
   /* width:595px;
   height:842px; */
   width:550px;
   height:778px;
}
 

 


 footer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding:0 21%;
    padding-top:1%;
    padding-bottom:4%;
    background-color: #fdfdfd;
    border-top-style: solid;
    border-width: 1px;
    border-color:#c1c1c1;
}
footer p,footer a{
    color:#6f6f6f;
    font-size:12px;
    font-family: "游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif;
}


 


 @media screen and (max-width: 480px) {
    body{
        width:420px;
    }

    header {
        width: 100%;
        padding: 3% 13%;
        background-color: #fdfdfd;
        /* position: fixed; */
        top: 0;
        display: flex;
        align-items: center;
    }

    header h1 {
        margin: 0; padding: 0;
        font-size: 20px;
        font-weight: normal;
        font-family: "游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif;
     }

     header li {
        margin: 0 0 0 30px;
        font-size: 11px;
     }

     .caption span{
        padding-left:2px;
        color:#818181;
        font-size: 8px;
     }

     .caption li {
        padding: 10% 0 10% 0;
        margin-bottom:30px;
        font-size: 15px;
     }

     .profile p{
         font-size:12px;
     }

     .date{
        padding-left:13%;
        color:#818181;
        font-size: 8px;
        font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
     }
     .tanka h1{
        margin: 100px 0; 
        padding: 0 0;
        font-size: 10px;
        color:#4b4b4b;
        text-align: center;
        font-weight: normal;
     }
    
    .tanka p{
        padding-left:9%;
        margin-bottom:140px;
        font-size: 10px;
    }


    .wrap {
      width:100%;
      margin:0 auto;
      margin-top:40px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
    }
    .item {
      padding: 0 10px;
      padding-bottom:30px;
      width:calc((100% - 10px * 2) / 2);
      background-color: #fff;
      text-align:center;
    }
    .item_image{
       width:180px;
       height:254px;
    }
    .wrap h1{
      margin:0;
      font-size: 10px; 
      color:#616161;
      font-weight:normal;
    }


    div[class="description"] {
      width:280px;
      margin:150px auto;
      padding:30px 0;
      text-align: center;
      border: #282828 1px solid; 
    } 
    .art h1{
      font-size: 14px;
      color:#2b2b2b;
      font-weight:normal;
   }
   p[class="description"]{
      margin-top:30px;
      color:#7c7c7c;
      font-size: 10px;
   }
   .art_image {
      text-align: center;
      margin-bottom:80px;
   }
    .A4{
      width:340px;
      height:481px;
   }



    .pc_area{
        display:none;
    }
    .phone_area{
        display:block;
    }



    footer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding:0 8%;
        padding-top:1%;
        padding-bottom:4%;
        background-color: #fdfdfd;
        border-top-style: solid;
        border-width: 1px;
        border-color:#c1c1c1;
    }
    footer p,footer a{
        color:#6f6f6f;
        font-size:8px;
        font-family: "游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif;
    }
 }