* {
    box-sizing: border-box;
 }

a {	
    text-decoration: none;
    color: #000000;
 }


 a[class="hover1"]:hover {
    background-color: rgb(234, 73, 52);
    color:#ffffff  
  }
  a[class="hover2"]:hover {
    background-color: rgb(0, 0, 0);
    color:#ffffff  
  }
  a[class="hover3"]:hover {
    background-color: rgb(20, 146, 243);
    color:#ffffff  
  }
  a[class="hover4"]:hover {
    background-color: rgb(20, 201, 0);
    color:#ffffff  
  }

ul {
    list-style: none;
 }

 header {
    width: 100%;
    padding: 3% 23.5%;
    background-color: #fff;
    /* position: fixed; */
    top: 0;
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-width: 1px;
}

header h1 {
    margin: 0; padding: 0;
    font-size: 20px;
    font-weight: normal;
    /* font-family: "游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif; */
 }

 header ul {
    margin: 0;
    display: flex;
 }

 header li {
    margin: 0 0 0 40px;
    font-size: 13px;
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
 }

 header nav {
    margin: 0 0 0 auto;
 }
 
 body {
    margin: 0;
    padding: 0px;
    height: 100%;
    /* font-family: "游明朝 Medium","游明朝体","Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif; */
    background-color: #ffffff;
    font-family:"游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif;
 }

 div[class="captions"]{
    padding: 3% 21%;
    height:700px;
    background-color: #ffffff;
 }

 .caption ul {
    padding-bottom: 10%;
    margin: 0;
 }

 .caption span{
    padding-left:2px;
    color:#818181;
    font-size: 12px;
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
 }

.caption li {
    padding: 5% 0 10% 0;
    font-size: 20px;
    /* font-family:"游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif; */
 }

 div[class="profile"]{
     padding:5% 23%;
 }

 main[class="tanka"]{
     padding:1% 0%;
 }
 .tanka div{
    padding-left:23.5%;
    color:#818181;
    font-size: 12px;
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
 }
 .tanka h1{
    margin-top: 140px; 
    padding: 0 0;
    font-size: 19px;
    text-align: center;
    font-weight: normal;
    /* font-family:"游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif; */
 }
 .tanka ul{
     padding-left:30%;
     font-size: 16px;
 }
 .tanka li{
     margin:160px 0;
 }


 footer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding:0 21%;
    padding-top:1%;
    padding-bottom:4%;
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    /* align-items: center; */
    border-top-style: solid;
    border-width: 1px;
    border-color:#c1c1c1;
}
footer p,footer a{
    color:#6f6f6f;
    font-size:12px;
    font-family: "游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif;
}


 


 @media screen and (max-width: 480px) {
    header {
        width: 100%;
        padding: 3% 13%;
        background-color: rgb(255, 255, 255);
        /* position: fixed; */
        top: 0;
        display: flex;
        align-items: center;
    }

    header h1 {
        margin: 0; padding: 0;
        font-size: 15px;
        font-weight: normal;
        font-family: "游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif;
     }

     header li {
        margin: 0 0 0 20px;
        font-size: 8px;
     }

     .caption span{
        padding-left:2px;
        color:#818181;
        font-size: 8px;
     }

     .caption li {
        padding: 10% 0 10% 0;
        font-size: 12px;
     }

     .profile p{
         font-size:12px;
     }

     .tanka div{
        padding-left:13%;
        color:#818181;
        font-size: 8px;
        font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","游ゴシック","游ゴシック体 Medium",sans-serif;
     }
     .tanka h1{
        margin-top: 90px; 
        padding: 0 0;
        font-size: 14px;
        text-align: center;
        font-weight: normal;
        /* font-family:"游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif; */
     }
     .tanka ul{
        padding-left:9%;
        font-size: 9px;
    }
    .tanka li{
        margin:140px 0;
    }

    footer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding:0 8%;
        padding-top:1%;
        padding-bottom:4%;
        background-color: rgb(255, 255, 255);
        /* display: flex; */
        /* align-items: center; */
        border-top-style: solid;
        border-width: 1px;
        border-color:#c1c1c1;
    }
    footer p,footer a{
        color:#6f6f6f;
        font-size:8px;
        font-family: "游明朝 Medium","游明朝体","Noto Serif JP","ヒラギノ明朝",serif;
    }
 }